@page
@model DynsecAdmin.Pages.Groups.IndexModel
@{
    ViewData["Title"] = "Groups";
}
<h1>@ViewData["Title"] <a asp-page="Add" class="btn btn-success btn-sm"><i class="bi bi-plus"></i></a></h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Groupname</th>
        <th scope="col">Name</th>
        <th scope="col">Roles</th>
        <th scope="col">Clients</th>
        <th scope="col" style="width: 1%"></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Groups.OrderBy(x => x.Groupname))
        {
            <tr title="@group.Description">
                <th scope="row"><a asp-page="Edit" asp-route-id="@group.Groupname">@group.Groupname</a></th>
                <td>@group.Name</td>
                <td>
                    @foreach (var role in group.Roles.OrderBy(x => x.Priority))
                    {
                        <span class="badge bg-secondary rounded-pill">
                            @role.Rolename
                        </span>
                    }
                </td>
                <td>
                    @foreach (var client in group.Clients)
                    {
                        <span class="badge bg-secondary rounded-pill">
                            @client.Username
                        </span>
                    }
                </td>
                <td>
                    <form method="post" asp-page="Edit" asp-page-handler="Delete" asp-route-id="@group.Groupname">
                        <delete-button class="btn btn-danger btn-sm" asp-name="@group.Groupname" disabled="@group.Clients.Any(x=>User.IsSelf(x.Username))"><i class="bi bi-trash"></i></delete-button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>